<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jens Legarth Ryge</title>
  <link rel="stylesheet" href="indexStylesheetClasses.css">
    <link rel="stylesheet" href="indexStyleSheetIds.css">
</head>
<body>

    <div class="defaultBackgroundContent">
        <div class="menu">
            <div id="menuText">Home</div>
            <div id="menuText">About me</div>
            <div id="menuText">CV</div>
            <div id="menuText">Contact</div>
            <div id="menuText">Github</div>
        </div>
    </div>


</body>
</html>